* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-size: 5rem;
}

.newgame-button {
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 0.4rem;
}

.message {
    padding-bottom: 5rem;
}

button {
   background-color: white; 
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    justify-items: center;    
}

.cell {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    color: black;
    font-size: 5rem;
}

/* tic tac toe shape */

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:first-child, .cell:nth-child(4), .cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

/*form*/
.newgame-dialog {
    margin: auto;
    border-radius: 1rem;
    width: 30rem;
    height: 20rem;

}

.newgame-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
}

.form-input {
    font-size: 2rem;
    padding: 0.2rem;
}

.start-button {
    font-size: 2rem;
    border-radius: 0.3rem;
}

button:hover {
    cursor: pointer;
}

button.disabled:hover {
    cursor: not-allowed;
}